@page
@model IndexModel

<h1>Latest search results</h1>

@if (Model.HasAuctionHunterItems)
{
	<div class="row text-center">
		<ul>
			@foreach (var auctionHunterItem in Model.AuctionHunterItems)
			{
				<li class="list-item">
					<div class="thumbnail">
						<img class="image" src="@Html.Raw(@Model.JsonParse(auctionHunterItem.ContentJson).SelectToken("$.image"))" />
						<div class="title"><p><strong>@Html.Raw(@Model.JsonParse(auctionHunterItem.ContentJson).SelectToken("$.name"))</strong></p></div>
						<div class="price"><b>@Html.Raw(@Model.JsonParse(auctionHunterItem.ContentJson).SelectToken("$.price"))</b></div>
						<p>@Html.Raw($"Found on page: {auctionHunterItem.OnPage}")</p>
						<div class="row">
							<a class="btn" href="@Html.Raw(auctionHunterItem.AuctionLink)">Visit</a>
							<a class="btn" href="https://google.com">Mark as read</a>
						</div>
					</div>
				</li>
			}
		</ul>
	</div>
}
else
{
	<p>No results returned</p>
}
